@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Sans Serif";
}

//
//  VARIABLES
//

$white: #fff;
$background: #f7f8fc;
$black: #000;
$light-gray: #eae9e9;
$main: #2d9cdb;
$main-darker: #2f80ed;
$secondary: #f2994a;
$text-dark: #4f4f4f;

//
//  MIXINS
//
@mixin burgerStripe($property) {
  content: "";
  position: absolute;
  #{$property}: 6px;
  width: 2.5rem;
  left: 0;
  height: 2px;
  background-color: $black;
}

hr {
  height: 1px;
  width: 80%;
  background: $light-gray;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $background;
}

//
//  OTHER
//

.spacer {
  padding: 2rem;
}

//
//  NAVIGATION
//

.navigation {
  position: sticky;
  z-index: 999999;
  height: 8rem;
  background: $white;
  box-shadow: 4px 0 4px rgba($black, 0.25);
  top: 0;

  & .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 3rem;

    & .brand {
      font-size: 2.5rem;
      text-decoration: underline;

      & a {
        color: $black;
      }
    }

    & .burger-menu {
      cursor: pointer;
      width: 3rem;
      height: 2.4rem;
      position: relative;

      & .burger {
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        background-color: $black;
        height: 2px;
        width: 2rem;

        &::before {
          @include burgerStripe(top);
        }

        &::after {
          @include burgerStripe(bottom);
        }
      }
    }
  }

  .nav-list {
    padding: 0 3.5rem;
    font-size: 1.8rem;
    background: $white;
    position: absolute;
    width: 100%;
    height: calc(100vh - 8rem);
    border-top: solid 5px $background;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba($black, 0.25);

    & ul {
      list-style: none;
      width: 100%;
      max-width: 30rem;

      & .user_profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        padding-bottom: 1.5rem;
        border-bottom: solid 1px $light-gray;

        & .user_profile--image {
          height: 8rem;
          width: 8rem;
          background: orangered;
          border-radius: 5rem;
          margin-bottom: 0.5rem;
        }
      }

      & li {
        text-align: center;

        & a {
          text-decoration: none;
          color: $black;
        }
      }

      & li:not(:nth-child(2)) {
        padding: 1.5rem 0;
      }

      & li:nth-child(2) {
        padding-top: 3rem;
        padding-bottom: 1.5rem;
      }
    }

    & .navigation-footer {
      position: absolute;
      width: 100%;
      font-size: 1.3rem;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);

      & span {
        display: block;

        &:last-child {
          text-decoration: underline;
        }
      }
    }
  }

  .hidden {
    transition: opacity 0.4s ease-in, left 0.4s ease-in;
    opacity: 0;
    left: -1000px;
  }

  .show {
    transition: opacity 0.3s ease-in, left 0.4s;
    opacity: 1;
    left: 0;
  }
}

//
//  HERO
//

.hero {
  height: calc(100vh - 7rem);
  background-color: $main;
  color: $white;
  position: relative;

  & .container {
    padding: 2rem 1.5rem 0 1.5rem;
  }

  & h2 {
    z-index: 99;
    font-size: 3.5rem;
    font-weight: bold;
  }

  & h1 {
    z-index: 99;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: lighter;
  }

  .background-image {
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);
    width: 95vw;
    max-width: 700px;
  }

  .btn-index {
    display: block;
    position: relative;
    z-index: 99999;
    font-size: 1.8rem;
    color: $white;
    font-weight: 600;
    background-color: $secondary;
    width: 20rem;
    height: 4rem;
    box-shadow: 0 4px 8px rgba($black, 0.25);
    margin: auto;
  }
}

//
//  FORM
//

.signup-form {
  display: none;
}

// FORM FOR BIGGER SCREEN
// .signup-form {
//   padding: 2rem;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   font-size: 1.6rem;

//   & .form-group {
//     width: 80%;
//   }

//   & input {
//     font-family: "Roboto", "Sans Serif";
//     height: 4rem;
//     font-size: 2rem;
//   }

//   & .btn {
//     margin-top: 1.5rem;
//     background-color: $main;
//     height: 5rem;
//     border: none;
//     width: 80%;
//     border-radius: 5px;
//     color: $white;
//     font-family: inherit;
//     font-size: 1.6rem;
//     font-weight: bold;
//     letter-spacing: 1.5px;
//     box-shadow: 3px 3px 8px rgba($black, 0.25);
//   }
// }

//
//  TITLE
//

.title-container {
  color: $text-dark;
  width: 95vw;
  margin: 0 auto;
  text-align: center;

  & h2 {
    font-size: 2.6rem;
  }

  & span {
    font-size: 1.6rem;
    margin: 0 auto;
    display: block;
    width: 90%;
  }
}

//
//  CARDS
//

.card-simple {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 25px 20px #e9ecf9;
  color: $text-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & img {
    width: 6rem;
  }
}

.card-lg {
  height: 25rem;
  width: 25rem;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 3rem;

  & p {
    margin-top: 0.25rem;
  }
}

.card-sm {
  height: 11.5rem;
  width: 11.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem;


  & img {
    width: 4rem !important;
  }
}

//
//  OFFERS
//

.offers {
  & img {
    display: block;
    margin: 0 auto;
    width: 85%;
  }

  & h2 {
    color: $text-dark;
    font-size: 2.6rem;
    font-weight: medium;
    margin-bottom: 0.5rem;
    margin-left: 6rem;
    position: relative;

    &::before {
      content: "";
      height: 25rem;
      width: 3px;
      background-color: $main-darker;
      position: absolute;
      top: 0;
      left: -3rem;
    }
  }

  & ul {
    margin-left: 6rem;
    list-style: none;

    & li {
      font-size: 1.6rem;
      color: $main-darker;
      font-weight: bold;
      margin-bottom: 2rem;
    }
  }

  & .find-course {
    display: flex;
    flex-direction: column;
    align-items: center;

    & select {
      font-size: 1.6rem;
      background-color: $main-darker;
      color: $white;
      padding: 1.3rem 1rem;
      border: none;
    }

    &-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}

//
//  FOOTER
//

.footer {
  height: 6rem;
  background-color: $main;
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    font-weight: lighter;
    margin: 0;
    font-size: 1.5rem;
    color: $white;
  }
}